.input_search {
    height: 2.7em;
    width: 30em;
    border: 0.1em solid #ccc;
    border-radius: 0.5em;
    background-color: #efefef;
    padding: 0em 1em;
    font-size: 1.2em;
    box-shadow: 0em 0.1em 0.5em #ccc;
}
.button_search{
  position: absolute; 
  background-image:url(../img/search.png);
  background-repeat:no-repeat;
  height:46px;
  width:100px;
  border: 0.1em solid #ccc;
  border-radius: 0.5em;
  background-color: #efefef;
  padding: 0em 1em;
  box-shadow: 0em 0.1em 0.5em #ccc;
}
