 body {
        color: yellow;
       /* color: #444444; */
        background-color: #EEEEEE;
        font-family: 'Trebuchet MS', sans-serif;
        font-size: 90%;
    }
    h1 {}
    h2 { font-size: 2.5em; }
    #page{
        background-color: #FFFFFF;
        width: 60%;
        margin: 24px auto;
        padding: 12px;
    }
    #header {
        padding: 6px ;
        text-align: center;
    }
    .status3xx { background-color: #475076; color: #FFFFFF; }
    .status4xx { background-color: #C55042; color: #FFFFFF; }
    .status5xx { background-color: #F2E81A; color: #000000; }
    #content {
        padding: 4px 0 24px 0;
    }
    #footer {
        color: #666666;
        background: #f9f9f9;
        padding: 10px 20px;
        border-top: 5px #efefef solid;
        font-size: 2em;
        text-align: center;
    }
    #footer a {
        color: #999999;
    }