<!-- Tweet -->
		<div id="tweet">
			<div class="container">
				<section>
					<blockquote>&ldquo;In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat.&rdquo;</blockquote>
				</section>
			</div>
		</div>


<!-- Footer -->
<div id="footer">
    <div class="container">
        <section>
            <header>
                <h2>Get in touch</h2>
                <span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
            </header>
            <ul class="contact">
                <li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
                <li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
                <li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
                <li><a href="#" class="fa fa-tumblr"><span>Google+</span></a></li>
            </ul>
        </section>
    </div>
</div>

<!-- Copyright -->
<div id="copyright">
    <div class="container">
        Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
    </div>
</div>

</body>
</html>
